@import '../../../styles/variables';

.form {
    width: 400px;
    margin: 80px 7% 35px 15%;
    padding: 15px 0px 0px 0px;
    background-color: transparent;
    border-radius: $border-radius;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
}